@{
    ViewBag.Title = "Chat";
}

@section styles
{
    <style type="text/css">
    </style>
}

<div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">

        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">@User.Identity.GetUserName()</div>
                    <div class="panel-body">
                        <ul class="list-group" id="messages"></ul>
                    </div>
                    <div class="panel-footer">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="message">Message</label>
                                <input type="text" class="form-control" name="message" id="message" placeholder="Please enter message">
                            </div>
                            <button type="submit" class="btn btn-default">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group" id="users">
        </div>
    </div>
</div>

@section scripts
{ 
    <script src="/signalr/hubs"></script>
    <script>

        $(function () {
            var currentUserName = '@User.Identity.GetUserName()';
            var demoChatHubProxy = $.connection.demoChatHub;

            demoChatHubProxy.client.updateChat = function (userName, message, isPm) {
                var $newMessage;

                if (currentUserName === userName) {
                    $newMessage = $('<li class="list-group-item active">' + message + '</li>');
                } else {
                    $newMessage = $('<li class="list-group-item">' + message + '</li>');
                }

                $("#chat").append($newMessage);

                $newMessage[0].scrollIntoView(true);
            };

            demoChatHubProxy.client.updateUsersOnline = function (data) {

                if (!data.success) {
                    console.error(data.result);

                    return;
                }

                var $users = $("#users");

                $users.html("");

                for (var user of data.result) {
                    if (user === currentUserName)
                        $users.append($('<a href="javascript:void(0);" class="list-group-item active">' + user + '</a>'));
                    else {
                        var $user = $('<a href="javascript:void(0);" class="list-group-item">' + user + '</a>');

                        $user.click(function () {
                            var $message = $("#message");

                            $message.val("#" + $(this).text() + " ");
                            $message.focus();
                        });

                        $users.append($user);
                    }
                }
            };

            $.connection.hub.start()
                .done(function () {
                    demoChatHubProxy.server.connectUser(currentUserName).done(function (data, textStatus, jqXHR) {
                        if (!data.success) {
                            console.error(data.result);
                            return;
                        }

                        var $message = $("#message"); 
                        var sendMessage = function () {
                            $message.focus();

                            if ($message.val() === "")
                                return;

                            demoChatHubProxy.server.sendMessage(currentUserName, $message.val());
                            $message.val("");
                        };

                        $message.keyup(function (data) {
                            if (data.which === 13)
                                sendMessage();
                        });

                        $("#send").click(sendMessage);

                        $message.focus();
                    });
                })
                .fail(function () {
                    console.warn("Could not connect.");
                });
        });
    </script>

}
